apiVersion: apps/v1
kind: Deployment
metadata:
  name: crapi-web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: crapi-web
  template:
    metadata:
      labels:
        app: crapi-web
    spec:
      nodeSelector:
        kubernetes.io/arch: amd64
      containers:
      - name: crapi-web
        image: levoai/crapi-web:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 80
        resources:
          limits:
            cpu: "500m"
          requests:
            cpu: 256m
        envFrom:
          - configMapRef:
              name: crapi-web-configmap