.apiexplorer__header {
    text-align: left;
}

.apiexplorer__header__description {
    margin: 5px;
}

.apiexplorer__header__token {
    margin-top: 10px;
}

.apiexplorer__header__token__text {
    color:crimson
}

.apiexplorer__card {
    margin: 5px;
}