name: Build crAPI web service

on:
  pull_request:
    paths:
      - '.github/workflows/build-and-release-crapi-web.yml'
      - 'crAPI/services/web/**'
  push:
    paths:
      - '.github/workflows/build-and-release-crapi-web.yml'
      - 'crAPI/services/web/**'
    branches:
      - main
    tags:
      - v*
  workflow_dispatch:

jobs:
  build-web-image:
    if: ${{ github.ref != 'refs/heads/main' }}
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Build image
        uses: aevea/action-kaniko@master
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          image: levoai/crapi-web
          path: ./crAPI/services/web
          tag: latest
          cache: true
          # Don't push the image, just build it to validate it.
          extra_args: "--no-push --cache-repo levoai/crapi-web-cache"

  push-latest-web-image:
    if: ${{ github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Latest image push
        uses: aevea/action-kaniko@master
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          image: levoai/crapi-web
          path: ./crAPI/services/web
          tag: latest
          cache: true
          extra_args: "--cache-repo levoai/crapi-web-cache"

  release-web-image:
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.17.1'

      - name: Tagged image push
        uses: aevea/action-kaniko@master
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          image: levoai/crapi-web
          path: ./crAPI/services/web
          strip_tag_prefix: v
          cache: true
          extra_args: "--cache-repo levoai/crapi-web-cache"
          